@font-face {
	font-family: 'Huggy Bear';
	src: url('/fonts/Huggy_Bear.ttf')  format('truetype'),
		url('/fonts/Huggy_Bear.otf') format('opentype');
}

.navbar-brand {
	font-family: 'Huggy Bear';
	font-size: 2em !important;
}

#metronome-container {
	position:relative;
}

#fake {
	position:absolute;
	width:100%;
	height:auto;
}

#playlist-menu {
	overflow-y:auto;
}
.play-button {
	float: left;
	margin-right: 10px;
	text-decoration: none;
}

.edit-button {
	float: right;
	margin-left: 10px;
	text-decoration: none;
}

.delete-button {
	float: right;
	margin-left: 10px;
	text-decoration: none;
}

.add-button {
	float: left;
	text-decoration: none;
}

.title {
	float: left;
	padding-top:6;
	padding-bottom:6;
	text-decoration: none;
}

li form {
	margin-bottom: 0;
}

.info-button {
	float: left;
}

.progress {
	margin-top:20px;
}

.parent, .menu-items{
	list-style: none;
}

ul .menu-items{
	display: none;
}

.menu-items li{
	text-align: left;
}

.metronome{
	width : 500px;
	height: 300px;
}

#messageBPM{
	color: red;
}

#messageTsig{
	color: red;
}
